http://markkop.dev, http://www.markkop.dev {
  redir https://markkop.dev{uri} permanent
}

www.markkop.dev {
  redir https://markkop.dev{uri} permanent
}

markkop.dev {
  reverse_proxy markkop-dev:3000
}
